/* Section adwantages */

.advantages-box {
  padding-top: 94px;
}

.block {
  display: block;
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.block-img {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.icon-advantage {
  width: 70px;
  height: 70px;
}

.advantages-title {
  color: $secondary-color;
  font-weight: $main-fontWeight;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  color: $primery-color;
  font-weight: $main-normal-fontWeight;
  font-size: 14px;
  line-height: 1.7;
}
