$primery-color: #757575;
$secondary-color: #212121;
$third-color: #ffff;
$accent-color: #2196f3;

$main-font-family: "Roboto", sans-serif;
$second-font-family: "Raleway", sans-serif;

$main-fontWeight: 700;
$main-normal-fontWeight: 400;
$secondary-normal-fontWeight: 500;

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
